.color-card {
    background-color: #0F0F0F;
    border: solid #7E691C 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.title-card {
    border-top: solid #7E691C 2px;
    color: #ad9026;
}


