body {
    background-color: #294C52;
    background-image: 
        linear-gradient(#294C52, #111F21);
    background-attachment: fixed;

}



/* #459097   blue */
/* #294C52    dark green */
/* #DBB84D     yellow */
/* #D8A3AE      pink */
/* #0F0F0F     black */
/* #ad9026     light green for words */
/* #7E691C    light green for borders */
